# rename or copy this file to .env

# ----------------------- database porvider -----------------------
DB_PROVIDER=supabase
# ----------------------- databe credential -----------------------
DB_URL="https://xyz.supabase.co"             # supabase project url
DB_KEY="aNoNEsyBau"                          # supabase anon key
# ---------------------- telegram bot token -----------------------
# obtained from @BotFather
BOT_TOKEN="12345678910:ABCDEFG"              # put your bot token
# ------------------------- api endpoints -------------------------
ENDPOINT_1="https://api.example.com/api/"    # endpoint 1
ENDPOINT_2="https://api.example.com/api/"    # endpoint 2
ENDPOINT_3="https://api.example.com/api/"    # endpoint 3
ENDPOINT_4="https://api.example.com/api/"    # endpoint 4
# ...
# u can add or modify endpoints as needed ;)
# --------------------------- ai setting --------------------------
AI_MODEL="gemini-3.6-flash"                  # set your ai model
AI_PROMPT="./source/prompt/default.md"       # customize your prompt
AI_KEY="YOUR_API_KEY"                        # put your ai apikey
# -------------------------- endpoint key -------------------------
KEY_ENDPOINT="YOUR_API_KEY"                  # optional, if u have
# comment ^^^ if u ain't use it
