# rename or copy this file to .env

# telegram bot api token
# obtained from @BotFather
BOT_TOKEN="12345678910:ABCDEFG"

# ai apikey, example: gemini, claude
API_GEMINI="AIzaSyd-Example"
API_CLAUDE="sk-ant-oat01-Example"

# api endpoints
ENDPOINT_1="https://api.example.com/api/"
ENDPOINT_2="https://api.example.com/api/"
ENDPOINT_3="https://api.example.com/api/"
# ...
# u can add or modify endpoints as needed ;)
