{
	"semi": true,
	"singleQuote": true,
	"quoteProps": "as-needed",
	"trailingComma": "es5",
	"printWidth": 100,
	"tabWidth": 4,
	"useTabs": true,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "avoid",
	"endOfLine": "lf",
	"overrides": [
		{
			"files": ["*.ts", "*.tsx"],
			"options": {
				"parser": "typescript"
			}
		},
		{
			"files": ["*.json", "*.jsonc"],
			"options": {
				"printWidth": 120,
				"tabWidth": 2,
				"useTabs": false
			}
		},
		{
			"files": ["*.md", "*.yml", "*.yaml"],
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		}
	]
}
